.Services-section{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    /* background-color: aqua; */
  
}
.Services-section h1{
    font-size: 7rem;
    opacity: 1;
    overflow: hidden;
    line-height:110px;
    margin-left: 5%;
    color: var(--text-2-color);
}
.Services-section h1:nth-child(1){ 
    margin-left: 25%;
}
.Services-section h1:nth-child(3){
    margin-left: 24%;
    color: var(--text-color);
}
.Services-content-section{
    position: relative;
    width: 100%;
    padding: 20px;
    height: 85rem;
    /* background-color: rgb(4, 144, 144); */
}
.Services-about{
    position: relative;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 60px;
    height: 35%;
    /* background-color: rgb(13, 3, 22); */
}
.Services-about .Services-about-text-container{
    width: 45%;
    scale: 1; 
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    justify-content: center;
    border-radius: 15px;  
    height: 80%;
}
.Services-about .Services-about-text-container h1{
color: var(--text-color);
font-size: 2.1rem;

}
.Services-about .Services-about-text-container p{
color: var(--text-2-color);
font-size: 19px;
text-align: justify;
margin-top: 25px;
}
.Services-about .Services-experience-boxes{
    width: 35%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 0px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 90%;
    /* background-color: rgb(255, 23, 23); */
}
.Services-about .Services-experience-boxes .experience-box{
    position: relative;
    width: 180px;
    scale: 1;
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
    height: 180px;
    border-radius: 15px;
}
.Services-about .Services-experience-boxes .experience-box h2{
    color: var(--theme-text-color);
    font-size: 30px;
}
.Services-about .Services-experience-boxes .experience-box p{
    color: var(--text-color);
    font-size: 19px;
}
.Services-about-2{
    position: relative;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;  
    gap: 60px;
    height: 30rem;
    /* background-color: blueviolet; */
}
.Services-about-2 .service-responsive-screenshot{
    margin-top: 30px;
    border-radius: 10px;
    opacity: 1;
    width: 40%;
    scale: 1;
    height: 80%;

}
.Services-about-2 .service-responsive-screenshot h2{
  margin-top: 30px;
  margin-left: 30px;
  color: var(--text-color);
    font-size: 30px;
}
.Services-about-2 .service-responsive-screenshot img{
    width: 100%;
height: 80%;
object-fit: cover;
}

.Services-about-2 .service-code-screenshot{
    position: relative;
    width: 40%; 
    border-radius: 10px;
    margin-top: 30px;
    height: 80%;
}
.Services-about-2 .service-code-screenshot h2{
    margin-top: 30px;
  margin-left: 30px;
    font-size: 30px;
    color: var(--text-color);
}
.Services-about-2 .service-code-screenshot img {
width: 100%;
height: 80%;
object-fit: cover;
}
.technology-knows-container{
    width: 85%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    height:auto;
    /* background-color: aqua; */
    margin-bottom: 40%;
   
}
.technology-knows-container h1{
    color: var(--text-color);
    font-size: 1.8rem;
    margin: 10px;
}
.technology-knows-container .tech-heading-icon-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:80%;
    gap: 10px;
    padding: 10px;
    transition: 0,;
     color: var(--text-color);
    /* background-color: blue; */
}
.technology-knows-container .tech-heading-icon-container .heading-icon{
    width: 12%;
   padding: 10px;
    opacity: 1;
    scale: 1;

    border-radius: 8px;
    gap: 40px;
    outline: 0.5px solid var(--theme-text-color);
    font-size: 1rem;
     color: var(--text-color);
     cursor: pointer;
     background: rgba(132, 132, 132, 0.12);
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(6.8px);
     transition: 0.3s ease-in-out;
}
.technology-knows-container .tech-heading-icon-container .heading-icon:hover{
    position: relative;
 transform: translate(0px ,-5px);
}
.technology-knows-container .tech-heading-icon-container .heading-icon span{
    font-size: 1.2rem;
    color: var(--text-color);
    
}
.technology-knows-container .tech-heading-icon-container .heading-icon span img{
width: 20%;
position: relative;
height: 80%;

}

.technology-knows-container .tech-heading-icon-container .heading-icon h2{
 font-size: 1.3rem;
}


/* Responsive */
  @media (max-width: 769px) {
    .Services-content-section {
        height: auto;
    }
    .Services-section h1 {
        font-size: 6rem;
    }

    .Services-about {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        height: 40%;
        /* background-color: rgb(13, 3, 22); */
    }
    .Services-about .Services-about-text-container {
        border-radius: 10px;
        width: 100%;
        text-align: center;
        padding: 30px 20px;
    }
    .Services-about .Services-about-text-container h1 {
        color: var(--text-color);
        font-size: 1.8rem;
    }
    .Services-about .Services-about-text-container p {
       
        font-size:medium;
        padding: 0px 40px;
       
    }
    .Services-about .Services-experience-boxes {
        width: 100%;
        padding: 10px;
        height: 100%;
     
    }
    .Services-about .Services-experience-boxes .experience-box {
        width: 140px; 
        height: 140px;
        border-radius: 10px;
    }
    .Services-about .Services-experience-boxes .experience-box h2 {
        
        font-size:larger;
    }
    .Services-about .Services-experience-boxes .experience-box p {
       margin-top: 10px;
        font-size:medium;
    }
    .Services-about-2 {
        align-items: center;
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
    .Services-about-2 .service-responsive-screenshot, .Services-about-2 .service-code-screenshot {
        margin-top: 30px;
        border-radius: 10px;
        opacity: 1;
        width: 80%;
        scale: 1;
        height: 50%;
    }
    .technology-knows-container {
        position: relative;
        margin-top: 10%;
    }
    .technology-knows-container .tech-heading-icon-container .heading-icon {

        width: 32%;
        border-radius: 8px;
        height: 25%;
    }
  }
  
  @media (max-width: 480px) {
    .Services-section {
        margin-top: 30px;
    }
    .Services-content-section {     
        height: auto;
 
    }
    .Services-about .Services-experience-boxes .experience-box {
        width: 125px;
        height: 125px;
        border-radius: 10px;
    }
    .Services-section h1 {
        font-size: 3.5rem;
        line-height: 60px;
    }
    .Services-about {
        position: relative;
        width: 100%;
        gap: 20px;
        height: auto;
        /* background-color: blueviolet; */
    }
    .Services-about .Services-about-text-container h1 {
    
        font-size: 1.1rem;
    }
    
    .Services-about .Services-about-text-container p {
        font-size:0.7rem;
        text-align: center;
        margin-top: 10px;
        padding: 0px 0px;
    }
    .Services-about .Services-experience-boxes {
        width: 100%;
        gap: 20px;
        padding: 15px;
        flex-direction: row;
    }
    .Services-about .Services-about-text-container {
        height: 200px;
        width: 95%;
    }
    .Services-about-2 .service-responsive-screenshot {
        border-radius: 10px;
        width: 100%;
        height: 64%;
    }
    .Services-about-2 .service-responsive-screenshot h2 {
        font-size: 3.5vw;
        position: relative;
        top: 10px;
    }
    .Services-about-2 .service-responsive-screenshot img {
        height: auto;
        margin-top: 15px;
    }
    .Services-about .Services-experience-boxes .experience-box p {
        font-size: 3vw;
    }
    .Services-about-2 .service-code-screenshot h2 {

        font-size: 20px;
      
    }
    .Services-about-2 .service-code-screenshot img {
    margin-top: 5px;
    }
    
    .Services-about-2 {
        display: block;
        height: auto;
        margin-top: 0px;
    }
    
        .technology-knows-container {
            width: 100%;
           
            border-radius:10px;
            padding: 10px;
            text-align: center;
            height: auto;
            margin-bottom: 0%;
        }
        .technology-knows-container h1 {    
            font-size: 1.5rem;
            word-spacing: 10px;
        }
        .Services-about-2 .service-code-screenshot {
            width: 100%;
            border-radius: 10px;
            margin-top: 30px;
            height: 60%;
        }
        .technology-knows-container .tech-heading-icon-container .heading-icon {
            width: 30%;
            border-radius: 8px;
        }
        .technology-knows-container .tech-heading-icon-container .heading-icon h2 {
            font-size: 0.7rem;
        }
        .Services-about-2 .service-code-screenshot h2 {
            margin-top: 0px;
            position: relative;
            top: 5px;
        }
        .Services-section h1:nth-child(1) {
            margin-left: 20%;
        }
        .Services-section h1:nth-child(3) {
            margin-left: 10%;
        }
  }

  @media (max-width: 391px) {
   
    
    .technology-knows-container {
        border-radius: 10px;
    }
  }