.Work-project-section {
    width: 100%;
    height: 25rem;
    padding: 20px 30px;
    /* background-color: blueviolet; */
}
 
.Work-project-section h1 {
    display: inline-block;
    overflow: hidden;
    font-size: 7rem; 
    line-height: 100px;
    font-weight: 600;
    color: rgb(244, 244, 244)
}

.Work-project-section h1:nth-child(2) {
    position: relative;
    padding-left: 20%;
}

.Work-project-section h1:nth-child(3) {
    position: relative;
    padding-left: 20%;
    color: rgb(131, 131, 131)
}

.Work-project-section>span {
    position: absolute;
    margin-top: 50px;
    margin-left: 15px;
   text-align: center;
    width: 40px;
    height: 40px;
    font-weight: 800;
    padding-top: 8px;
    color: var(--text-color);
    border-radius: 25px;
    border: 2px solid var(--theme-text-color);

}


.Work-project-show-container {
 position: relative; 
    width: 100%;
    height: 42rem;
    padding: 10px 30px; 
    display: flex;
    gap: 10px;
    justify-content: center;
}

.project-frame-count-name {
    width: 30%;
    height:99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 border-radius: 5px;
 outline: 0.5px solid white;
    /* background-color: blue; */
}



.Project-link {
    position: absolute;
    z-index: 99;
    right: 5%;
    padding: 7px 15px;
    border: 1px solid var(--text-color);
    font-size: medium;
    border-radius: 50px;
    background-color: var(--theme-text-color);
    text-decoration: none;
    bottom: 7%;
    color:white
}
.Project-link span{
    position: relative;
    top: 4px;
    left:4px;
}  
  @media (max-width: 768px) {
    .Work-project-show-container {
        height:  60rem;
    }

    .Work-project-section>span {
        margin-top: 30px;
    }
    .Work-project-section h1 {
        font-size: 4rem;
    }
    
    
    .project-frame-count-name {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

  }
   

  @media (max-width: 480px) {
    .Work-project-section{
        height: 15rem;
    }

    .Work-project-section h1 {
        position: relative;
        line-height: normal;
        top: 10%;
        font-size: 2.5rem;
    }
   
  
  

    .Work-project-section span {
        width: 10%;
        padding-left: 0px;
        padding-top: 8px;
    }
    .Project-link {
        right: 5%;
        padding: 5px 10px;
        font-size:xx-small;
        bottom: 8%;
    }
    .Project-link span{
        position: relative;
        top: 2px;
        left:2px;
    }
   
    .project-frame-count-name {
        padding: 10px;
        
    }
   
    
}

  @media (max-width: 390px) {
    .Work-project-section {  
        padding: 0px 20px;
    }
   
    .Work-project-section span {
        width: 11%;
        margin-top: 34%;
    }
    .Work-project-section h1 {
        font-size: 2rem;
        top: 30%;
    }
   
   
  }  
  
