*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
   color: white;
}
body::-webkit-scrollbar{
  display: none;
}

