:root{
    --back-ground-color : #ebebeb;
    --background-black: rgb(30, 29, 29);
    --text-2-color:rgb(118, 118, 118);
    /* --theme-text-color : #ff5100; */
    --theme-text-color : #08afff;
     --text-color:rgb(243, 243, 243);
}